.auth {
  text-align: right;

  &__item a {
    display: inline-block;
    border-bottom: 2px solid transparent;

    &:hover {
      transition: .3s;
      border-bottom: 2px solid $brand-fourth;
    }
  }
}