.footer {
  padding: $global-xsmall-gutter ;
  background-color: $brand-tertiary;

  .container > *:not(:last-child) {
    //margin-right: $global-medium-margin;
    @include screen-sm {
      margin-bottom: 26px;
    }
  }

  .nav {
    @include screen-sm {
      width: 100%;
    }

    &__links  li::before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $brand-fourth;
      margin-right: $global-small-margin;

    }

    &__link {
      display: inline-block;
      padding: 10px;
    }
  }

  .design__logo {
    margin-top: $global-small-margin;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    height: 60px;
    overflow: hidden;


    img {
      object-fit: cover;
      height: 60px;
      max-width: max-content;
      width: inherit;
    }
  }

  .design {
    color: $brand-primary;
    width: 100%;
    margin-top: $global-large-margin;
    text-align: center;
    margin-bottom: $global-small-margin;
    @include screen-sm {
      margin-top: 0;
    }
  }
}