.partners {
  @include screen-sm {
    justify-content: center;
  }

  &_cover {
    padding: $global-medium-gutter 0;

    .container {
      padding: 0 $global-medium-gutter;

      & > a {
        display: inline-block;
        text-align: right;
        width: 100%;
        margin-top: 20px;
        padding-right: 10px;
        color:$brand-tertiary;
        transition: .3s;
        @include screen-sm {
          text-align: center;
        }

        &:hover {
          color: darken($brand-tertiary, 20%)
        }

        &::after {
          display: inline-block;
          content: '';
          width: 60px;
          height: 10px;
          vertical-align: middle;
          background: url("../src/img/next.svg") no-repeat center;
          background-size: 60px;


        }
      }
    }
  }

  .partner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 25%;
    min-width: 200px;
    margin-bottom: $global-margin;

    @include screen-sm {
      width: 100%;
      margin-bottom: 50px;
    }

    a {
      display: block;
      width: 120px;
      height: 120px;
      margin-bottom: $global-margin;
      border-radius: 50%;
      overflow: hidden;
    }

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    &__name {
      margin-bottom: $global-margin;
    }

    &__about {
      margin: 0 10px;
    }
  }
}