.promo-background {
  position: relative;
  min-height: 100vh;
  height: 1px;
  background: url('../src/img/animal.jpg') no-repeat center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(143, 202, 197, 0.4);
}

